* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 header{
  position: fixed;
 }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .navbar ul {
    display: flex;
    list-style-type: none;
  }
  
  .navbar .logo {
    max-width: 100px;
    height: auto;
  }
  

  ul li {
    padding: 20px;
    color: aliceblue;
    font-size: 2rem;
  }
  ul {
    padding-left: 100px;
    padding-right: 100px;
  }
 
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .navbar ul {
      flex-direction: column;
      margin-top: 10px;
    }
  
    .navbar ul li {
      margin-right: 0;
      margin-bottom: 5px;
    }
  
    .navbar ul.left-items,
    .navbar ul.right-items {
      margin: 0;
    }
  
    .navbar button {
      margin-top: 10px;
    }
    ul li {
        padding: 0;
    }
    .toClickBtnLeft {
        width: 100px;
        margin-right: 0;
    }
    .toClickBtnRight {
        width: 100px;
    }
  }
  .p1 {
    background-image: url(images/logoImages/Group\ 1.png);
    height: 100svh;
    }
  
.metaTag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
    font-size: 2rem;
    padding-top: 100px;
    margin-bottom: 50px;
    flex-wrap: nowrap;
    /* width: 250px; */
    overflow: hidden;
}
.toClick {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 250px;
}
.toClickBtnLeft {
    margin-right: 250px;
    width: 200px;
    height: 50px;
    background: rgba(151, 12, 16, 0.4);
    border: 1px solid #F9F9F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    color: aliceblue;
}
.toClickBtnRight {
    width: 200px;
    height: 50px;
    background: rgba(151, 12, 16, 0.4);
    border: 1px solid #F9F9F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    color: aliceblue;
}