.pen-icon {
  height: 13px;
  width: 13px;
}

.name {
  text-indent: 20px;
  height: 3rem;
  width: 100%;
}

.number {
  text-indent: 20px;
  height: 3rem;
  width: 100%;
}

.email {
  text-indent: 20px;
  height: 3rem;
  width: 100%;
}

.address {
  text-indent: 20px;
  height: 3rem;
  width: 100%;
}

.btnColor {
  background-color: #970c10;
  border-color: #970c10;
  color: white;
}

.btnColor:hover {
  background-color: #970c10;
  border-color: #970c10;
  color: white;
}

.Background {
  background-color: #F7EDD0;
}

.profImg {
  display: flex;
  justify-content: center;
  align-items: center;
}